.container {
    text-align: center;
    
}


.time-text {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  color: rgb(190, 121, 121);
 
}
.contour {
    display: inline-block;
}
.time-digits {
    font-size: 6em;
}
